@import url(root.css);


/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    background-color: var(--bgcolor);
}


/* header */
.header_container {
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ul {
    display: flex;

    column-gap: 84px;

}

.header_li {
    color: #DFD9D9;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.header_div {
    display: flex;
    column-gap: 36px;
    align-items: center;
}

.search {
    display: flex;
    padding: 8px 20px;
    column-gap: 100px;
    box-shadow: 1.5199999809265137px 3px 3px -0.800000011920929px #00000033 inset;
    box-shadow: 0px -0.30000001192092896px 1px 0px #dad5d566 inset;
    background: #07070733;
    border-radius: 4px;
}

.search_text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #93b89b;
}

.fa-magnifying-glass {
    color: #8cb194;
}

.fa-user {
    padding: 4px;
    background: #00000033;
    box-shadow: 0px 2px 4px -2px #DFD9D966 inset;
    box-shadow: 0px 2px 4px 0px #00000033;
    border-radius: 4px;
    color: #91B599;
}

.fa-cart-shopping {
    padding: 4px;
    background: #00000033;
    box-shadow: 0px 2px 4px -2px #DFD9D966 inset;
    box-shadow: 0px 2px 4px 0px #00000033;
    border-radius: 4px;
    color: #C3B97F;
}

/* section1 */

.section {
    padding: 64px 20px;
    display: grid;
    gap: 20px 40px;
    grid-template-rows: repeat(3, 160px);
    grid-template-columns: 320px 680px 320px;
    grid-template-areas:
        "item1 item2 item3"
        "item1 item2 item4"
        "item1 item2 item5";
}

.item {
    padding: 38px 40px;
    grid-area: item1;
    box-shadow: 0px 4px 4px 0px #00000033 inset;
    box-shadow: 0px -1px 4px 0px #DFD9D966 inset;
    background: #00000033;

}

.item_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #C3B97F;
    margin-bottom: 16px;
}

.item_ul {
    margin-bottom: 41px;
}

.item_list {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #91B599;
}

.item_list_active {
    font-size: 14px;
    line-height: 25px;
    color: #91B599;
    font-weight: 700;
    text-decoration: underline;
}

.item_div {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C3B97F;
}

.fa-angle-down {
    color: #C3B97F;

}

.item_list2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #C3B97F;

}

.item2 {
    grid-area: item2;
}

.item2_price_div {
    margin-top: 20px;
    background-color: #DFD9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1C5550;
}

.cart {
    padding: 9px 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #DFD9D9;
    background: #C3B97F;

}

.item2_img2 {
    background-color: aquamarine;
    grid-area: item3;
}

.item2_img3 {
    background-color: beige;
    grid-area: item4;
}

.item2_img4 {
    background-color: #91B599;
    grid-area: item5;
}

/* section2 */


.div {
    margin: auto;
    width: 1400px;
    height: 32px;
    display: flex;
    height: 32px;
    justify-content: space-between;
    align-items:flex-start;
    gap: 1096px;
    flex-shrink: 0;
}

.div_h2 {
    color: #DFD9D9;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.section2 {
    padding: 32px 20px;
    display: flex;
    justify-content: space-between;
}

.section2_item {
    width: 320px;
}

.section2_text {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #DFD9D9;

}

.section2_price {
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFD9D9;

}

.section2_prices {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #1C5550;

}

.section2_cart {
    padding: 9px 10px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: #DFD9D9;
    background-color: #C3B97F;

}

.navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #DFD9D9
}